config_diagnostics		= 1
default_bits			= 2048
default_md				= sha256
UTF8					= yes
prompt					= no

[ dn_user ]
O   = ${ENV::ORG}
CN	= ${ENV::UPN}

[ dn_domain ]
O   = ${ENV::ORG}
CN	= ${ENV::DOMAIN}

[ dn_server ]
O   = ${ENV::ORG}
CN	= ${ENV::SERVER}

[ dn_ca ]
O   = ${ENV::ORG}
CN	= ${ENV::ORG} Root CA

[ req_ca ]
distinguished_name		= dn_ca
x509_extensions			= ca_ext

[ req_user ]
distinguished_name		= dn_user
x509_extensions			= user_ext

[ req_server ]
distinguished_name		= dn_server
x509_extensions			= server_ext

[ req_domain ]
distinguished_name		= dn_domain
x509_extensions			= domain_ext

[ ca_ext ]
basicConstraints		= critical,CA:true
keyUsage			    = critical, cRLSign, digitalSignature, keyCertSign
subjectKeyIdentifier	= hash

[ user_ext ]
basicConstraints		= CA:false
keyUsage			    = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage		= critical, serverAuth, clientAuth, msSmartcardLogin
subjectAltName			= otherName:1.3.6.1.4.1.311.20.2.3;UTF8:${ENV::UPN}
subjectKeyIdentifier	= hash

[ server_ext ]
basicConstraints		= CA:false
keyUsage			    = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage		= critical, serverAuth, clientAuth, 1.3.6.1.5.5.8.2.2
subjectAltName			= DNS:${ENV::SERVER}
subjectKeyIdentifier	= hash

[ domain_ext ]
basicConstraints		= CA:false
keyUsage			    = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage		= critical, serverAuth, 1.3.6.1.5.5.8.2.2
subjectAltName			= DNS:*.${ENV::DOMAIN}
subjectKeyIdentifier	= hash