config_diagnostics		= 1
default_bits			= 2048
default_md				= sha1
UTF8					= yes
prompt					= no

[ req_ca ]
distinguished_name		= dn_ca
x509_extensions			= ca_ext

[ req_user ]
distinguished_name		= dn_user
x509_extensions			= user_ext

[ req_server ]
distinguished_name		= dn_server
x509_extensions			= server_ext

[ dn_user ]
CN   = ${ENV::ORG}

[ dn_server ]
CN   = ${ENV::ORG}

[ dn_ca ]
CN   = ${ENV::ORG}

[ ca_ext ]
basicConstraints		= critical,CA:true
keyUsage				= critical,keyCertSign,cRLSign
subjectKeyIdentifier	= hash

[ user_ext ]
basicConstraints		= CA:false
keyUsage				= digitalSignature
extendedKeyUsage		= clientAuth, msSmartcardLogin
subjectAltName			= otherName:1.3.6.1.4.1.311.20.2.3;UTF8:${ENV::UPN}
subjectKeyIdentifier	= hash

[ server_ext ]
basicConstraints		= CA:false
keyUsage				= digitalSignature
extendedKeyUsage		= serverAuth, 1.3.6.1.5.5.8.2.2
subjectAltName			= DNS:${ENV::SERVER}
subjectKeyIdentifier	= hash


