config_diagnostics = 1

[ req ]
default_bits            = 2048
distinguished_name      = cadn
x509_extensions         = ca_ext
req_extensions          = ca_ext
default_md              = sha256
prompt                  = no
UTF8                    = yes

[ cadn ]
C = NL
O = ${ENV::ORG}
CN = ${ENV::ORG} root CA

[ ca_ext ]
basicConstraints        = critical,CA:true
keyUsage                = critical,keyCertSign,cRLSign
subjectKeyIdentifier    = hash
