config_diagnostics = 1

[ req ]
default_bits        = 2048
distinguished_name  = dn
req_extensions      = cr_ext
default_md          = sha256
UTF8                = yes
prompt              = no

[ dn ]
C   = NL
O   = ${ENV::ORG}
CN  = ${ENV::SERVER}

[ cr_ext ]
basicConstraints = CA:false
keyUsage = digitalSignature
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = DNS:${ENV::SERVER}
